*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} 
.main{
    background-color: #fff;
    padding: 20px;
}
.main label{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}